@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'inter', arial, sans-serif;
   background-color: #c7c7c7;
}


header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   background-color: black;
   color: #fff;
   border-bottom: 2px solid rgb(104, 104, 104);
}

nav ul {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 10px;
   padding: 20px;
}

nav ul li {
   list-style: none;
}

nav a {
   padding: 20px;
   color: #fff;
   text-decoration: none;
}

nav a:hover {
   color: black;
   background-color: #fff;
   transition-duration: .3s;
}

.container-principal {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 50px 0 50px 0;
}

main {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   max-width: 800px;
   background-color: #fff;
   padding: 20px;
   box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2)
}

article {}

p {
   font-size: 1.2rem;
   margin-bottom: 1em;
   text-align: justify;
}

hr {
   width: 85%;
   margin: 4em auto;
}

.posts-container {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.posts {
   box-sizing: border-box;
   margin-top: 15px;
   width: 320px;
}

.posts a {
   text-decoration: none;
}

.posts p {
   color: #fff;
   background-color: rgba(192, 32, 32, 1);
   font-size: 1em;
   padding: 3px;
   text-align: center;
}

.posts img {
   display: block;
   width: 320px;
   height: 190px;
}

footer {
   box-sizing: border-box;
   background-color: #c02020;
   color: #fff;
   padding: 1em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

footer p {
   font-size: 1em;
}

footer img {
   padding: 5px;
   width: 50px;
   height: 50px;
}