@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'inter', arial, sans-serif;
   background-color: #A6A2A2;
}

.container-principal {
   margin: auto;
   width: 85%;
   background-color: #fff;
   padding: 3em;
}

header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   background-color: black;
   color: #fff;
}

header img {
   padding: 5px;
   max-width: 80px;
}

header ul {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 10px;
}

header ul li {
   list-style: none;
   font-weight: 800;
}

header a {
   padding: 13px 30px;
   color: #fff;
   text-decoration: none;
   border-radius: 10px;
}

header a:hover {
   border-radius: 10px;
   color: black;
   background-color: #fff;
   transition-duration: .3s;
}

main {
   margin-top: 2em;
}

article {
   width: 100%;
}

p {
   font-size: 1.2rem;
   margin-bottom: 1em;
   text-align: justify;
}

hr {
   width: 85%;
   margin: 4em auto;
}

.posts-container {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.posts {
   box-sizing: border-box;
   margin-top: 15px;
   width: 320px;
}

.posts a {
   text-decoration: none;
}

.posts p {
   color: #fff;
   background-color: rgba(192, 32, 32, 1);
   font-size: 1em;
   padding: 3px;
   text-align: center;
}

.posts img {
   display: block;
   width: 320px;
   height: 190px;
}

footer {
   box-sizing: border-box;
   background-color: #c02020;
   color: #fff;
   padding: 1em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

footer p {
   font-size: 1em;
}

footer img {
   padding: 5px;
   width: 50px;
   height: 50px;
}